body {
  font-family: "Poppins", sans-serif;
}

 .avatar {
   padding-top: 40px;
   border-radius: 50%;
   border-color: linear-gradient(to right, #34ffbb, #655ce9);
} 

.name {
  padding: 0 140px 0 0;
  display: inline;
  font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 3em;
	margin: 0 auto;
	/* padding: 0 140px 0 10px; */
	display: inline;
	margin-bottom: 10px;
}

.intro {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.link-box {
  border-style: none;
  border-radius: 6px;
  border-color: black;
  margin-left: 10%;
  margin-top: 10px;
  margin-right: 10%;
  margin-bottom: 20px;
  padding: 20px;
  display: block;
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, #34ffbb, #655ce9);
}

.link-box:hover {
  cursor: pointer;
  border: #34ffbb;
  background-color: white;
  text-decoration: #34ffbb;
}

.logo {
  text-align: center;
  width: auto;
  height: 40%;
}

.name {
		text-align: center;
		color: #34ffbb;
		background: -webkit-gradient(linear, left top, right top, from(#34ffbb), to(#655ce9), color-stop(0.5, #655ce9));
		background: -moz-gradient(linear, left top, right top, from(#34ffbb), to(#655ce9), color-stop(0.5, #655ce9));
		background: gradient(linear, left top, right top, from(#34ffbb), to(#655ce9), color-stop(0.5, #655ce9));
		-webkit-background-size: 125px 100%;
		-moz-background-size: 125px 100%;
		background-size: 125px 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		-webkit-animation-name: shimmer;
		-moz-animation-name: shimmer;
		animation-name: shimmer;
		-webkit-animation-duration: 2s;
		-moz-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color: #222;
}

@-moz-keyframes name {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-webkit-keyframes name {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-o-keyframes name {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@keyframes name {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}